.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  margin: 2rem;
}
.outputDiv h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
input {
  border: none;
  width: 70%;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.outputDiv {
  font-size: 1.4rem;
  margin-top: 3rem;
}
li {
  margin: 1rem;
  list-style: none;
  display: inline;
  padding: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
}
